# Fetch TMDB data (Please don't run)

In [ ]:
# Fetch TMDB movies date
import requests
import pandas as pd
import ssl
import json
import time  # To avoid hitting the API rate limit

# Define the base URL and headers
base_url = "https://api.themoviedb.org/3/discover/movie"
headers = {
    "accept": "application/json",
    "Authorization": "Bearer eyJhbGciOiJIUzI1NiJ9.eyJhdWQiOiIwZGIxYzY1ZDU0Y2Q3ODdhNWMxNzY2MDcxNGRhZGE3NCIsIm5iZiI6MTczMTI1NjA1Ny4yMzk4NDgsInN1YiI6IjY3MzBkYWZlOGY4MWZlZDZiZDNmODAzNCIsInNjb3BlcyI6WyJhcGlfcmVhZCJdLCJ2ZXJzaW9uIjoxfQ.Ax4UlmVIuBpHPhqegNVKOKKQK1TZg2JJdmnVxw3CRMM"
}



# Define the number of pages you want to fetch (adjust as needed)
num_pages = 500
movies = []
# Loop through each year from 2000 to 2024
for year in range(2016, 2024):
    # Initialize an empty list to store the movie data

    for month in range(1, 13):  # Loop through months (1-12)
        # Define the date range for the current month
        start_date = f"{year}-{month:02d}-01"
        if month == 12:
            end_date = f"{year + 1}-01-01"
        else:
            end_date = f"{year}-{month + 1:02d}-01"

        print(f"Fetching movies for {start_date} to {end_date}...")

        # Loop through pages for each month
        for page in range(1, num_pages + 1):  # TMDb allows up to 500 pages
            # Construct the URL with date range and pagination
            url = (
                f"{base_url}?include_video=false"
                f"&release_date.gte={start_date}"
                f"&release_date.lte={end_date}"
                f"&page={page}&sort_by=popularity.desc"
                f"&primary_release_year={year}"
            )

            # Make the API request
            response = requests.get(url, headers=headers)

            if response.status_code == 200:
                data = response.json()

                # Check if there are results; break if no more movies
                if not data['results']:
                    print(f"No more results for {start_date} to {end_date}, page {page}")
                    break

                # Add the results to the list
                movies.extend(data['results'])
            else:
                print(f"Failed to fetch data for {start_date} to {end_date}, page {page}: {response.status_code}")
                break

            # Pause to respect the API rate limit
            time.sleep(0.2)



# Convert the list of movies to a DataFrame
df_movie = pd.DataFrame(movies)
new_df_movie = df_movie.drop_duplicates(subset='title')

# Display the DataFrame
new_df_movie.to_csv(f'movies.csv')

# TMDB data

In [ ]:
import pandas as pd
pd.set_option("display.max_rows", 100)
pd.set_option("display.max_columns", None)

In [ ]:
import csv

# List to store valid rows
data = []

# Remember to upload the csv file to colab before this
# Open the CSV file and read it
with open('2016-2023_movies.csv', 'r', encoding='utf-8') as file:
    reader = csv.reader(file)
    header = next(reader)  # Read the header row
    for i, row in enumerate(reader):
        try:
            # You can add any data validation checks here if needed
            data.append(row)  # Add valid rows to the list
        except Exception as e:
            print(f"Error processing row {i}: {e}")

# Convert the list of valid rows into a DataFrame
df_TMDB = pd.DataFrame(data, columns=header)

# Display the first few rows of the DataFrame
print(df_TMDB)

                adult                     backdrop_path  \
0            0  False  /ayDMYGUNVvXS76wQgFwTiUIDNb5.jpg
1            1  False  /uT5G4fA7jKxlJNfwYPMm353f5AI.jpg
2            2  False  /hqrwXs3KqPuU5rWoconbmQUn6rh.jpg
3            3  False  /yUjc0QIKJe0kyzjQ7Ky6dKRasv1.jpg
4            4  False  /tMyVb5CXHnBLQ8V7s0FuFA5V9nP.jpg
...        ...    ...                               ...
245836  339083  False  /rW8NoM64WjFVgVQKjMGUGFvMT7s.jpg
245837  339084  False  /yVQTrezc21MjZcLTqsBbRPAuKWT.jpg
245838  339085  False
245839  339086  False
245840  339087  False

                      genre_ids       id original_language  \
0           [10752, 28, 36, 18]   300671                en
1       [28, 12, 16, 35, 10751]   140300                en
2                 [878, 12, 28]   299687                en
3                          [35]   291870                en
4                      [12, 18]   334533                en
...                         ...      ...               ...
245836       [10749, 10751, 35]  1044646                de
245837          [35, 10402, 18]   874619                pt
245838              [18, 10749]   774296                ru
245839                       []  1394391                en
245840                       []  1394192                en

                                   original_title  \
0       13 Hours: The Secret Soldiers of Benghazi
1                                 Kung Fu Panda 3
2                                    The 5th Wave
3                                   Dirty Grandpa
4                               Captain Fantastic
...                                           ...
245836                        Tag der offenen Tür
245837                      Bom Dia Sem Companhia
245838                           Вам и не снилось
245839                           Unseen Struggles
245840                    Something I Do Not Want

                                                 overview popularity  \
0       An American Ambassador is killed during an att...     56.674
1       While Po and his father are visiting a secret ...     60.355
2       16-year-old Cassie Sullivan tries to survive i...     41.782
3       Jason Kelly is one week away from marrying his...     45.403
4       Deep in the forests of the Pacific Northwest, ...     50.988
...                                                   ...        ...
245836                                                         0.001
245837                                                         0.001
245838                                                         0.001
245839  Unseen Struggles follows Lily, a young woman w...        0.6
245840  Something I Do Not Want is a day dream trip ar...        0.6

                             poster_path release_date  \
0       /nAnfWdvUXQemns5BR0Azi4z9o1t.jpg   2016-01-14
1       /oajNi4Su39WAByHI6EONu8G8HYn.jpg   2016-01-23
2       /4Dd79cz5qxKNoKWg1xsfrpOchEr.jpg   2016-01-14
3       /k0Lz1TfSlbcQthQKYGwE7blDfwN.jpg   2016-01-20
4       /2sFME73GaD8UsUxPUKe60cPdLif.jpg   2016-07-08
...                                  ...          ...
245836  /obPzJgqVKEynQbDfldbxq8xEfBo.jpg   2023-12-22
245837  /tZudRpsCVjHkfdUgd7H9wmV0h08.jpg   2023-12-22
245838                                     2023-12-04
245839                                     2023-12-22
245840                                     2023-12-12

                                            title  video vote_average  \
0       13 Hours: The Secret Soldiers of Benghazi  False          7.3
1                                 Kung Fu Panda 3  False        6.914
2                                    The 5th Wave  False        5.943
3                                   Dirty Grandpa  False        5.932
4                               Captain Fantastic  False          7.9
...                                           ...    ...          ...
245836                        Tag der offenen Tür  False          0.0
245837                      Bom Dia Sem Companhia  False          0.0
245838                           Вам и не снилось  False          0.0
245839                           Unseen Struggles  False          0.0
245840                    Something I Do Not Want  False          0.0

       vote_count
0            3513
1            6003
2            5712
3            4350
4            6367
...           ...
245836          0
245837          0
245838          0
245839          0
245840          0

[245841 rows x 15 columns]

IMDB Data

# New Section

In [ ]:
import pandas as pd
import requests
import gzip
import shutil
import os

# Step 1: Define URLs and filenames for IMDb datasets
datasets = {
    "title_basics": "https://datasets.imdbws.com/title.basics.tsv.gz",
    "title_ratings": "https://datasets.imdbws.com/title.ratings.tsv.gz"
}

# Step 2: Download and extract files
def download_and_extract(url, output_filename):
    # Download the file
    response = requests.get(url, stream=True)
    if response.status_code == 200:
        # Save the compressed file
        with open(output_filename, 'wb') as file:
            file.write(response.content)
        # Extract the .gz file
        extracted_filename = output_filename.replace(".gz", "")
        with gzip.open(output_filename, 'rb') as gz_file:
            with open(extracted_filename, 'wb') as out_file:
                shutil.copyfileobj(gz_file, out_file)
        print(f"Downloaded and extracted: {extracted_filename}")
        return extracted_filename
    else:
        print(f"Failed to download {url}: {response.status_code}")
        return None

# Download both datasets
title_basics_file = download_and_extract(datasets["title_basics"], "title.basics.tsv.gz")
title_ratings_file = download_and_extract(datasets["title_ratings"], "title.ratings.tsv.gz")

# Step 3: Load datasets into pandas DataFrames
title_basics_df = pd.read_csv(title_basics_file, sep="\t", dtype=str, na_values="\\N")
title_ratings_df = pd.read_csv(title_ratings_file, sep="\t", dtype=str, na_values="\\N")

# Step 4: Filter and merge datasets
# Filter for movies only
movies_df = title_basics_df[title_basics_df['titleType'] == 'movie']

# Merge with ratings data
imdb_df = pd.merge(movies_df, title_ratings_df, on='tconst', how='inner')

Downloaded and extracted: title.basics.tsv
Downloaded and extracted: title.ratings.tsv

# Box Office (Main DF)

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
# Box Office Mojo 2016-2023 Hong Kong

import urllib.request
from bs4 import BeautifulSoup
import ssl
import pandas as pd

# Set up SSL context
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

# Create a dictionary to store DataFrames for each year
dataframes = {}

# Loop through the last 8 years
for year in range(2016, 2024):
    print(f'Scraping data for {year}...')
    base_url = f'https://www.boxofficemojo.com/year/{year}?area=HK&grossesOption=calendarGrosses'

    # Read HTML content
    response = urllib.request.urlopen(base_url, context=ctx)

    if response.status == 200:
        html = response.read().decode('utf-8')

        # Parse the content using BeautifulSoup
        soup = BeautifulSoup(html, 'html.parser')

        # Find all rows in the main table
        rows = soup.find_all('tr')
        data = []  # To store the scraped data for the current year

        # Iterate over rows and extract data
        for row in rows[1:]:  # Skip the header row
            cols = row.find_all('td')

            # Extract relevant data from each column
            rank = cols[0].text.strip()  # Rank
            release = cols[1].find('a').text.strip()  # Release
            gross = cols[5].text.strip()  # Gross
            theaters = cols[6].text.strip()  # Theaters
            total_gross = cols[7].text.strip()  # Total Gross
            release_date = cols[8].text.strip()  # Release Date
            distributor = cols[9].text.strip()  # Distributor

            # Append the extracted data to the list
            data.append([rank, release, gross, theaters, total_gross, release_date, distributor])

          # Create a DataFrame for the current year's data
        columns = ['Rank', 'Release', 'Gross', 'Theaters', 'Total Gross', 'Release Date', 'Distributor']
        df = pd.DataFrame(data, columns=columns)
        df['Year'] = year  # Add the 'Year' column
        df['Country'] = 'Hong Kong'

        # Store the DataFrame in the dictionary
        dataframes[f'df_{year}_HK'] = df
    else:
        print(f'Failed to retrieve data for {year}: {response.status}')

print('Done')

# Merge all DataFrames into one
box_office_df_HK = pd.concat(dataframes.values(), ignore_index=True)

Scraping data for 2016...
Scraping data for 2017...
Scraping data for 2018...
Scraping data for 2019...
Scraping data for 2020...
Scraping data for 2021...
Scraping data for 2022...
Scraping data for 2023...
Done

In [ ]:
box_office_df_HK

,Rank,Release,Gross,Theaters,Total Gross,Release Date,Distributor,Year,Country
0,1,Batman v Superman: Dawn of Justice,"$8,504,499",77,"$8,504,499",Mar 24,Warner Bros.,2016,Hong Kong
1,2,Doctor Strange,"$8,172,143",-,"$8,172,143",Oct 27,Walt Disney Pictures,2016,Hong Kong
2,3,Finding Dory,"$6,615,732",-,"$6,615,732",Jul 14,Walt Disney Pictures,2016,Hong Kong
3,4,Deadpool,"$6,605,968",44,"$7,967,589",Feb 11,20th Century Fox International,2016,Hong Kong
4,5,Zootopia,"$6,577,861",59,"$7,043,370",Mar 24,Walt Disney Pictures,2016,Hong Kong
...,...,...,...,...,...,...,...,...,...
1112,151,Empire of Light,"$14,606",-,"$15,267",Mar 2,Walt Disney Studios Motion Pictures,2023,Hong Kong
1113,152,Violent Night,"$9,594",39,"$304,674",Dec 1,Universal Pictures International (UPI),2023,Hong Kong
1114,153,Moonage Daydream,"$4,432",4,"$34,676",Sep 24,Universal Pictures International (UPI),2023,Hong Kong
1115,154,Strange World,"$2,520",-,"$247,150",Nov 24,Walt Disney Studios Motion Pictures,2023,Hong Kong
1116,155,She Said,$282,11,"$57,277",Nov 17,Universal Pictures International (UPI),2023,Hong Kong

In [ ]:
# Merge box_office_df_HK with imdb_df
merged_df_IMDB_boxofficehk = pd.merge(box_office_df_HK, imdb_df, how='left', left_on='Release', right_on='primaryTitle')
merged_df_IMDB_boxofficehk.info()
merged_df_IMDB_boxofficehk.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2161 entries, 0 to 2160
Data columns (total 20 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Rank            2161 non-null   object
 1   Release         2161 non-null   object
 2   Gross           2161 non-null   object
 3   Theaters        2161 non-null   object
 4   Total Gross     2161 non-null   object
 5   Release Date    2161 non-null   object
 6   Distributor     2161 non-null   object
 7   Year            2161 non-null   int64
 8   Country         2161 non-null   object
 9   tconst          2146 non-null   object
 10  titleType       2146 non-null   object
 11  primaryTitle    2146 non-null   object
 12  originalTitle   2146 non-null   object
 13  isAdult         2146 non-null   object
 14  startYear       2146 non-null   object
 15  endYear         0 non-null      object
 16  runtimeMinutes  2062 non-null   object
 17  genres          2129 non-null   object
 18  averageRating   2146 non-null   object
 19  numVotes        2146 non-null   object
dtypes: int64(1), object(19)
memory usage: 337.8+ KB

,Rank,Release,Gross,Theaters,Total Gross,Release Date,Distributor,Year,Country,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes
0,1,Batman v Superman: Dawn of Justice,"$8,504,499",77,"$8,504,499",Mar 24,Warner Bros.,2016,Hong Kong,tt2975590,movie,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,0,2016,NaN,151,"Action,Adventure,Sci-Fi",6.5,762238
1,2,Doctor Strange,"$8,172,143",-,"$8,172,143",Oct 27,Walt Disney Pictures,2016,Hong Kong,tt1211837,movie,Doctor Strange,Doctor Strange,0,2016,NaN,115,"Action,Adventure,Fantasy",7.5,826027
2,3,Finding Dory,"$6,615,732",-,"$6,615,732",Jul 14,Walt Disney Pictures,2016,Hong Kong,tt2277860,movie,Finding Dory,Finding Dory,0,2016,NaN,97,"Adventure,Animation,Comedy",7.2,312993
3,4,Deadpool,"$6,605,968",44,"$7,967,589",Feb 11,20th Century Fox International,2016,Hong Kong,tt1431045,movie,Deadpool,Deadpool,0,2016,NaN,108,"Action,Comedy",8.0,1179307
4,5,Zootopia,"$6,577,861",59,"$7,043,370",Mar 24,Walt Disney Pictures,2016,Hong Kong,tt2948356,movie,Zootopia,Zootopia,0,2016,NaN,108,"Action,Adventure,Animation",8.0,565062

In [ ]:
import re

# Function to clean movie titles
def clean_title(title):
    if isinstance(title, str):  # Ensure the title is a string
        title = title.lower()  # Convert to lowercase
        title = title.strip()  # Strip whitespace
        title = re.sub(r'[^a-z0-9\s]', '', title)  # Remove special characters (non-alphanumeric)
        title = re.sub(r'\s+', ' ', title)  # Replace multiple spaces with a single space
        title = re.sub(r' ', '', title) # Try to remove all the space
    return title

# Apply the cleaning function to both DataFrames
df_TMDB['title'] = df_TMDB['title'].apply(clean_title)
merged_df_IMDB_boxofficehk['ori_ReleaseGroup'] = merged_df_IMDB_boxofficehk['Release']
merged_df_IMDB_boxofficehk['Release'] = merged_df_IMDB_boxofficehk['Release'].apply(clean_title)

In [ ]:
# Merge the dataframes
merged_df = pd.merge(merged_df_IMDB_boxofficehk,df_TMDB, how='left', left_on='Release', right_on='title')

In [ ]:
merged_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2859 entries, 0 to 2858
Data columns (total 36 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Rank               2859 non-null   object
 1   Release            2859 non-null   object
 2   Gross              2859 non-null   object
 3   Theaters           2859 non-null   object
 4   Total Gross        2859 non-null   object
 5   Release Date       2859 non-null   object
 6   Distributor        2859 non-null   object
 7   Year               2859 non-null   int64
 8   Country            2859 non-null   object
 9   tconst             2844 non-null   object
 10  titleType          2844 non-null   object
 11  primaryTitle       2844 non-null   object
 12  originalTitle      2844 non-null   object
 13  isAdult            2844 non-null   object
 14  startYear          2844 non-null   object
 15  endYear            0 non-null      object
 16  runtimeMinutes     2729 non-null   object
 17  genres             2818 non-null   object
 18  averageRating      2844 non-null   object
 19  numVotes           2844 non-null   object
 20  ori_ReleaseGroup   2859 non-null   object
 21                     2712 non-null   object
 22  adult              2712 non-null   object
 23  backdrop_path      2712 non-null   object
 24  genre_ids          2712 non-null   object
 25  id                 2712 non-null   object
 26  original_language  2712 non-null   object
 27  original_title     2712 non-null   object
 28  overview           2712 non-null   object
 29  popularity         2712 non-null   object
 30  poster_path        2712 non-null   object
 31  release_date       2712 non-null   object
 32  title              2712 non-null   object
 33  video              2712 non-null   object
 34  vote_average       2712 non-null   object
 35  vote_count         2712 non-null   object
dtypes: int64(1), object(35)
memory usage: 804.2+ KB

In [ ]:
merged_df.head()

,Rank,Release,Gross,Theaters,Total Gross,Release Date,Distributor,Year,Country,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,averageRating,numVotes,ori_ReleaseGroup,,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,1,batmanvsupermandawnofjustice,"$8,504,499",77,"$8,504,499",Mar 24,Warner Bros.,2016,Hong Kong,tt2975590,movie,Batman v Superman: Dawn of Justice,Batman v Superman: Dawn of Justice,0,2016,NaN,151,"Action,Adventure,Sci-Fi",6.5,762238,Batman v Superman: Dawn of Justice,6019,False,/5fX1oSGuYdKgwWmUTAN5MNSQGzr.jpg,"[28, 12, 14]",209112,en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,70.234,/5UsK3grJvtQrtzEgqNlDljJW96w.jpg,2016-03-23,batmanvsupermandawnofjustice,False,5.971,17904
1,2,doctorstrange,"$8,172,143",-,"$8,172,143",Oct 27,Walt Disney Pictures,2016,Hong Kong,tt1211837,movie,Doctor Strange,Doctor Strange,0,2016,NaN,115,"Action,Adventure,Fantasy",7.5,826027,Doctor Strange,22841,False,/kkoiH8ZWxJ9WSAjOadGtuHUQxbm.jpg,"[28, 12, 14]",284052,en,Doctor Strange,"After his career is destroyed, a brilliant but...",59.255,/uGBVj3bEbCoZbDjjl9wTxcygko1.jpg,2016-10-25,doctorstrange,False,7.424,22066
2,3,findingdory,"$6,615,732",-,"$6,615,732",Jul 14,Walt Disney Pictures,2016,Hong Kong,tt2277860,movie,Finding Dory,Finding Dory,0,2016,NaN,97,"Adventure,Animation,Comedy",7.2,312993,Finding Dory,13045,False,/wijltj1toRcicHlCn8Cpsp4yPXe.jpg,"[12, 16, 35, 10751]",127380,en,Finding Dory,Dory is reunited with her friends Nemo and Mar...,40.377,/yFjVlsJmEMacU0BNUwdGZlo2ixq.jpg,2016-06-16,findingdory,False,7.04,11991
3,4,deadpool,"$6,605,968",44,"$7,967,589",Feb 11,20th Century Fox International,2016,Hong Kong,tt1431045,movie,Deadpool,Deadpool,0,2016,NaN,108,"Action,Comedy",8.0,1179307,Deadpool,4090,False,/en971MEXui9diirXlogOrPKmsEn.jpg,"[28, 12, 35]",293660,en,Deadpool,The origin story of former Special Forces oper...,94.48,/3E53WEZJqP6aM84D8CckXx4pIHw.jpg,2016-02-09,deadpool,False,7.6,31005
4,5,zootopia,"$6,577,861",59,"$7,043,370",Mar 24,Walt Disney Pictures,2016,Hong Kong,tt2948356,movie,Zootopia,Zootopia,0,2016,NaN,108,"Action,Adventure,Animation",8.0,565062,Zootopia,4091,False,/p2fRZzxla6NoRbIH2KOZq0gHb5S.jpg,"[16, 12, 10751, 35]",269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",107.381,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,zootopia,False,7.75,16286

In [ ]:
# Modify the merged_df to keep necessary columns
columns_to_drop = [
    'titleType', 'endYear', 'backdrop_path', 'genre_ids',
    'id', 'overview', 'poster_path', 'title',
    'video', 'ori_ReleaseGroup', 'Rank'
]
merged_df.drop(columns=columns_to_drop, inplace=True)

remaining_columns = merged_df.columns.tolist()

# Reorder the columns
new_column_order = ['Year', 'Country'] + [col for col in remaining_columns if col not in ['Year', 'Country']]
merged_df = merged_df[new_column_order]

merged_df = merged_df.loc[:, merged_df.columns.str.strip() != '']

merged_df.head()
merged_df.info()

KeyError: "['titleType', 'endYear', 'backdrop_path', 'genre_ids', 'id', 'overview', 'poster_path', 'title', 'video', 'ori_ReleaseGroup', 'Rank'] not found in axis"

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2859 entries, 0 to 2858
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Year               2859 non-null   int64
 1   Country            2859 non-null   object
 2   Release            2859 non-null   object
 3   Gross              2859 non-null   object
 4   Theaters           2859 non-null   object
 5   Total Gross        2859 non-null   object
 6   Release Date       2859 non-null   object
 7   Distributor        2859 non-null   object
 8   tconst             2844 non-null   object
 9   primaryTitle       2844 non-null   object
 10  originalTitle      2844 non-null   object
 11  isAdult            2844 non-null   object
 12  startYear          2844 non-null   object
 13  runtimeMinutes     2729 non-null   object
 14  genres             2818 non-null   object
 15  averageRating      2844 non-null   object
 16  numVotes           2844 non-null   object
 17  adult              2712 non-null   object
 18  original_language  2712 non-null   object
 19  original_title     2712 non-null   object
 20  popularity         2712 non-null   object
 21  release_date       2712 non-null   object
 22  vote_average       2712 non-null   object
 23  vote_count         2712 non-null   object
dtypes: int64(1), object(23)
memory usage: 536.2+ KB

# Box Office International (Temp Aged)

In [ ]:
merged_df

,Rank,Release,Gross,Theaters,Total Gross,Release Date,Distributor,Year,Country,ori_ReleaseGroup,,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,1,batmanvsupermandawnofjustice,"$8,504,499",77,"$8,504,499",Mar 24,Warner Bros.,2016,Hong Kong,batmanvsupermandawnofjustice,6019,False,/5fX1oSGuYdKgwWmUTAN5MNSQGzr.jpg,"[28, 12, 14]",209112,en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,70.234,/5UsK3grJvtQrtzEgqNlDljJW96w.jpg,2016-03-23,batmanvsupermandawnofjustice,False,5.971,17904
1,2,doctorstrange,"$8,172,143",-,"$8,172,143",Oct 27,Walt Disney Pictures,2016,Hong Kong,doctorstrange,22841,False,/kkoiH8ZWxJ9WSAjOadGtuHUQxbm.jpg,"[28, 12, 14]",284052,en,Doctor Strange,"After his career is destroyed, a brilliant but...",59.255,/uGBVj3bEbCoZbDjjl9wTxcygko1.jpg,2016-10-25,doctorstrange,False,7.424,22066
2,3,findingdory,"$6,615,732",-,"$6,615,732",Jul 14,Walt Disney Pictures,2016,Hong Kong,findingdory,13045,False,/wijltj1toRcicHlCn8Cpsp4yPXe.jpg,"[12, 16, 35, 10751]",127380,en,Finding Dory,Dory is reunited with her friends Nemo and Mar...,40.377,/yFjVlsJmEMacU0BNUwdGZlo2ixq.jpg,2016-06-16,findingdory,False,7.04,11991
3,4,deadpool,"$6,605,968",44,"$7,967,589",Feb 11,20th Century Fox International,2016,Hong Kong,deadpool,4090,False,/en971MEXui9diirXlogOrPKmsEn.jpg,"[28, 12, 35]",293660,en,Deadpool,The origin story of former Special Forces oper...,94.48,/3E53WEZJqP6aM84D8CckXx4pIHw.jpg,2016-02-09,deadpool,False,7.6,31005
4,5,zootopia,"$6,577,861",59,"$7,043,370",Mar 24,Walt Disney Pictures,2016,Hong Kong,zootopia,4091,False,/p2fRZzxla6NoRbIH2KOZq0gHb5S.jpg,"[16, 12, 10751, 35]",269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",107.381,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,zootopia,False,7.75,16286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,151,empireoflight,"$14,606",-,"$15,267",Mar 2,Walt Disney Studios Motion Pictures,2023,Hong Kong,empireoflight,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,152,violentnight,"$9,594",39,"$304,674",Dec 1,Universal Pictures International (UPI),2023,Hong Kong,violentnight,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,153,moonagedaydream,"$4,432",4,"$34,676",Sep 24,Universal Pictures International (UPI),2023,Hong Kong,moonagedaydream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,154,strangeworld,"$2,520",-,"$247,150",Nov 24,Walt Disney Studios Motion Pictures,2023,Hong Kong,strangeworld,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,155,shesaid,$282,11,"$57,277",Nov 17,Universal Pictures International (UPI),2023,Hong Kong,shesaid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
#Get the gross to number
def convert_to_numeric(value):
    return float(value.replace('$', '').replace(',', ''))

# Apply the conversion function to the 'amount' column
merged_df['Gross'] = merged_df['Gross'].apply(convert_to_numeric)
merged_df['Total Gross'] = merged_df['Total Gross'].apply(convert_to_numeric)

AttributeError: 'float' object has no attribute 'replace'

In [ ]:
# Hong test

import pandas as pd

# Assuming merged_df is your DataFrame
# Convert 'gross' column to numeric values
merged_df['Gross'] = pd.to_numeric(merged_df['Gross'].replace({'\$': '', ',': ''}, regex=True), errors='coerce')

# Check the result
print(merged_df['Gross'])

0       8504499.0
1       8172143.0
2       6615732.0
3       6605968.0
4       6577861.0
          ...
1115      14606.0
1116       9594.0
1117       4432.0
1118       2520.0
1119        282.0
Name: Gross, Length: 1120, dtype: float64

In [ ]:
merged_df

,Rank,Release,Gross,Theaters,Total Gross,Release Date,Distributor,Year,Country,ori_ReleaseGroup,,adult,backdrop_path,genre_ids,id,original_language,original_title,overview,popularity,poster_path,release_date,title,video,vote_average,vote_count
0,1,batmanvsupermandawnofjustice,8504499.0,77,8504499.0,Mar 24,Warner Bros.,2016,Hong Kong,batmanvsupermandawnofjustice,6019,False,/5fX1oSGuYdKgwWmUTAN5MNSQGzr.jpg,"[28, 12, 14]",209112,en,Batman v Superman: Dawn of Justice,Fearing the actions of a god-like Super Hero l...,70.234,/5UsK3grJvtQrtzEgqNlDljJW96w.jpg,2016-03-23,batmanvsupermandawnofjustice,False,5.971,17904
1,2,doctorstrange,8172143.0,-,8172143.0,Oct 27,Walt Disney Pictures,2016,Hong Kong,doctorstrange,22841,False,/kkoiH8ZWxJ9WSAjOadGtuHUQxbm.jpg,"[28, 12, 14]",284052,en,Doctor Strange,"After his career is destroyed, a brilliant but...",59.255,/uGBVj3bEbCoZbDjjl9wTxcygko1.jpg,2016-10-25,doctorstrange,False,7.424,22066
2,3,findingdory,6615732.0,-,6615732.0,Jul 14,Walt Disney Pictures,2016,Hong Kong,findingdory,13045,False,/wijltj1toRcicHlCn8Cpsp4yPXe.jpg,"[12, 16, 35, 10751]",127380,en,Finding Dory,Dory is reunited with her friends Nemo and Mar...,40.377,/yFjVlsJmEMacU0BNUwdGZlo2ixq.jpg,2016-06-16,findingdory,False,7.04,11991
3,4,deadpool,6605968.0,44,7967589.0,Feb 11,20th Century Fox International,2016,Hong Kong,deadpool,4090,False,/en971MEXui9diirXlogOrPKmsEn.jpg,"[28, 12, 35]",293660,en,Deadpool,The origin story of former Special Forces oper...,94.48,/3E53WEZJqP6aM84D8CckXx4pIHw.jpg,2016-02-09,deadpool,False,7.6,31005
4,5,zootopia,6577861.0,59,7043370.0,Mar 24,Walt Disney Pictures,2016,Hong Kong,zootopia,4091,False,/p2fRZzxla6NoRbIH2KOZq0gHb5S.jpg,"[16, 12, 10751, 35]",269149,en,Zootopia,"Determined to prove herself, Officer Judy Hopp...",107.381,/hlK0e0wAQ3VLuJcsfIYPvb4JVud.jpg,2016-02-11,zootopia,False,7.75,16286
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,151,empireoflight,14606.0,-,15267.0,Mar 2,Walt Disney Studios Motion Pictures,2023,Hong Kong,empireoflight,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1116,152,violentnight,9594.0,39,304674.0,Dec 1,Universal Pictures International (UPI),2023,Hong Kong,violentnight,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117,153,moonagedaydream,4432.0,4,34676.0,Sep 24,Universal Pictures International (UPI),2023,Hong Kong,moonagedaydream,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1118,154,strangeworld,2520.0,-,247150.0,Nov 24,Walt Disney Studios Motion Pictures,2023,Hong Kong,strangeworld,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1119,155,shesaid,282.0,11,57277.0,Nov 17,Universal Pictures International (UPI),2023,Hong Kong,shesaid,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nan_vote_average_rows = merged_df[merged_df['vote_average'].isna()]

nan_vote_average_rows

,Year,Country,Release,Gross,Theaters,Total Gross,Release Date,Distributor,tconst,primaryTitle,originalTitle,isAdult,startYear,runtimeMinutes,genres,averageRating,numVotes,adult,original_language,original_title,popularity,release_date,vote_average,vote_count
12,2016,Hong Kong,ipman3,"$4,323,222",44,"$7,842,871",Dec 24,-,tt2888046,Ip Man 3,Yip Man 3,0,2015,105,"Action,Biography,Crime",7.0,61482,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,2016,Hong Kong,thegooddinosaur,"$3,422,925",63,"$3,422,925",Feb 4,Walt Disney Pictures,tt1979388,The Good Dinosaur,The Good Dinosaur,0,2015,93,"Action,Adventure,Animation",6.7,131057,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,2016,Hong Kong,therevenant,"$2,931,731",36,"$2,931,731",Jan 8,-,tt1336006,The Revenant,The Revenant,0,2009,117,"Comedy,Fantasy,Horror",6.3,11403,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,2016,Hong Kong,therevenant,"$2,931,731",36,"$2,931,731",Jan 8,-,tt1663202,The Revenant,The Revenant,0,2015,156,"Action,Adventure,Drama",8.0,894234,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,2016,Hong Kong,therevenant,"$2,931,731",36,"$2,931,731",Jan 8,-,tt3300078,The Revenant,The Revenant,0,2012,80,Horror,5.7,31,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2703,2023,Hong Kong,thebrotherhoodofrebel,"$341,318",-,"$347,560",Oct 5,-,tt29348753,The Brotherhood of Rebel,Jat jik 2,0,2023,96,"Action,Crime,Thriller",5.5,95,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2704,2023,Hong Kong,dontcallitmysterythemovie,"$329,480",-,"$346,742",Oct 12,Edko Films,tt27554389,Don't Call it Mystery: The Movie,Misuteri to Iu Nakare,0,2023,128,"Crime,Drama,Mystery",6.3,300,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2706,2023,Hong Kong,theexpendables4,"$311,401",-,"$311,401",Sep 21,Warner Bros.,tt3291150,The Expendables 4,Expend4bles,0,2023,103,"Action,Adventure,Thriller",4.8,46424,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2781,2023,Hong Kong,acityofsadness,"$97,138",-,"$140,432",Apr 17,Golden Scene,tt0096908,A City of Sadness,Bei qing cheng shi,0,1989,157,"Comedy,Drama,History",7.8,6325,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2821,2023,Hong Kong,anpanmandororinandthetransformationcarnival,"$54,051",-,"$57,233",Jun 22,-,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
nan_vote_average_rows['primaryTitle'].unique()

array(['Ip Man 3', 'The Good Dinosaur', 'The Revenant',
       'Star Wars: Episode VII - The Force Awakens', 'The Danish Girl',
       'Alvin and the Chipmunks: The Road Chip', 'The Big Short', nan,
       'The Peanuts Movie', 'My Beloved Bodyguard', 'Steve Jobs',
       "Daddy's Home", 'The Hateful Eight', 'Secret in Their Eyes',
       'The 33', 'Sweet Bean', 'Concussion', 'The Big Bee', 'Creed',
       '100 Yen Love', 'Initiation Love', 'Son of Saul', 'The Tag-Along',
       'The Last Women Standing', 'Mojin: The Lost Legend',
       'Boruto: Naruto the Movie', 'Brooklyn', 'Trumbo',
       'PG lin oi ji yin', "All's Well, Ends Well 2012",
       'Miss You Already', 'Our Brand Is Crisis', 'The Empire of Corpses',
       'Anomalisa', 'Dheepan', 'Port of Call', 'Kill the Messenger',
       'Go Lala Go 2', 'The Last Mission', '45 Years', "Salut d'Amour",
       "The Crow's Egg", 'Mr. Six', 'The Boy and the Beast',
       'Thanatos, Drunk', 'Point Break', 'Misono Universe',
       'You Call It Passion', 'Manglehorn', 'Louder Than Bombs',
       'Keeper of Darkness', 'Freeheld', 'She Remembers, He Forgets',
       'Zinnia Flower', 'Gatao', 'The Hunger Games: Mockingjay - Part 2',
       'Our Times', 'A Journey Through Time with Antony',
       "You're Ugly Too", 'French Dolls',
       'Aoki Hagane no Arpeggio: Ars Nova DC', 'Legend',
       'Love the Coopers', 'Mountains May Depart',
       'Star Wars: Episode VIII - The Last Jedi',
       'Professor Marston & the Wonder Women',
       "Doraemon the Movie: Nobita's Treasure Island",
       'Master Z: The Ip Man Legacy', 'Incident in a Ghostland',
       'Tonight, at the Movies',
       'What a Wonderful Family! 3: My Wife, My Life',
       'Star Wars: Episode IX - The Rise of Skywalker',
       'X-Men: Dark Phoenix', 'The Command', 'One Piece: Stampede',
       'Sang Krasue', "Doraemon the Movie: Nobita's New Dinosaur",
       'The Confidence Man JP: Princess', 'Malasaña 32',
       'Night of the Undead', 'The Dark Knight', 'Batman Begins',
       'The Dark Knight Rises',
       'Saekano: How to Raise a Boring Girlfriend Fine', 'Steel Rain 2',
       'Vernost', 'The Battle of Jangsari', 'F9: The Fast Saga',
       'Dune: Part One',
       'Sword Art Online: Progressive - Aria of a Starless Night',
       'In the Mood for Love', 'Oldboy', 'Perfect Blue',
       'Kamen Rider Saber + Kikai Sentai Zenkaiger: Super Hero Senki',
       'Avatar', 'Evangelion: 3.0+1.01 Thrice Upon a Time',
       'Water Gate Bridge', 'Crayon Shin-chan: Mononoke Ninja Chinpuden',
       'Eiga Sumikkogurashi: Aoi tsukiyo no mahô no ko', 'Decibel',
       'Death Notice: A Serial Killer Leaving Notes',
       'Shin Jigen! Crayon Shin-chan the Movie',
       'Demon Slayer: Kimetsu No Yaiba - To the Swordsmith Village',
       'The Brotherhood of Rebel', "Don't Call it Mystery: The Movie",
       'The Expendables 4', 'A City of Sadness'], dtype=object)

In [ ]:
# Box Office Mojo 2016-2023 International

import urllib.request
from bs4 import BeautifulSoup
import ssl
import pandas as pd
import datetime

# Set up SSL context
ctx = ssl.create_default_context()
ctx.check_hostname = False
ctx.verify_mode = ssl.CERT_NONE

# Create a dictionary to store DataFrames for each year
dataframes = {}

# Loop through the last 8 years
for year in range(2016, 2024):
    print(f'Scraping data for {year}...')
    base_url = f'https://www.boxofficemojo.com/year/world/{year}'

    # Read HTML content
    response = urllib.request.urlopen(base_url, context=ctx)
    html = ''

    if response.status == 200:
        html = response.read().decode('utf-8')

        # Parse the content using BeautifulSoup
        soup = BeautifulSoup(html, 'html.parser')

        # Find all rows in the main table
        rows = soup.find_all('tr')
        data = []  # To store the scraped data for the current year

        for row in rows:
            cols = row.find_all('td')
            if cols:  # Ensure the row contains data
                # Extract relevant data from each column
                rank = cols[0].text.strip()  # Rank
                release_group = cols[1].find('a').text.strip()  # Release Group
                worldwide = cols[2].text.strip()  # Worldwide Gross
                domestic = cols[3].text.strip()  # Domestic Gross
                domestic_percentage = cols[4].text.strip()  # Domestic %
                foreign = cols[5].text.strip()  # Foreign Gross
                foreign_percentage = cols[6].text.strip()  # Foreign %

                # Append the extracted data to the list
                data.append([rank, release_group, worldwide, domestic, domestic_percentage, foreign, foreign_percentage])

        # Create a DataFrame for the current year's data
        columns = ['Rank', 'Release Group', 'Worldwide', 'Domestic', 'Domestic %', 'Foreign', 'Foreign %']
        globals()[f'df_{year}'] = pd.DataFrame(data, columns=columns)  # Store DataFrame in a variable with dynamic name
    else:
        print(f'Failed to retrieve data for {year}: {response.status}')

print('Done')

Scraping data for 2016...
Scraping data for 2017...
Scraping data for 2018...
Scraping data for 2019...
Scraping data for 2020...
Scraping data for 2021...
Scraping data for 2022...
Scraping data for 2023...
Done

In [ ]:
nan_vote_average_rows = merged_df[merged_df['vote_average'].isna()]

print(nan_vote_average_rows)

     Rank                            Release      Gross Theaters  Total Gross  \
9      10                             ipman3  4323222.0       44    7842871.0
13     14                    thegooddinosaur  3422925.0       63    3422925.0
15     16                        therevenant  2931731.0       36    2931731.0
16     17  starwarsepisodeviitheforceawakens  2582922.0       83   11082181.0
22     23                      thedanishgirl  1922267.0       52    1922473.0
...   ...                                ...        ...      ...          ...
1115  151                      empireoflight    14606.0        -      15267.0
1116  152                       violentnight     9594.0       39     304674.0
1117  153                    moonagedaydream     4432.0        4      34676.0
1118  154                       strangeworld     2520.0        -     247150.0
1119  155                            shesaid      282.0       11      57277.0

     Release Date                             Distributor  Year    Country  \
9          Dec 24                                       -  2016  Hong Kong
13          Feb 4                    Walt Disney Pictures  2016  Hong Kong
15          Jan 8                                       -  2016  Hong Kong
16         Dec 17                    Walt Disney Pictures  2016  Hong Kong
22         Feb 25                              Edko Films  2016  Hong Kong
...           ...                                     ...   ...        ...
1115        Mar 2     Walt Disney Studios Motion Pictures  2023  Hong Kong
1116        Dec 1  Universal Pictures International (UPI)  2023  Hong Kong
1117       Sep 24  Universal Pictures International (UPI)  2023  Hong Kong
1118       Nov 24     Walt Disney Studios Motion Pictures  2023  Hong Kong
1119       Nov 17  Universal Pictures International (UPI)  2023  Hong Kong

                       ori_ReleaseGroup      adult backdrop_path genre_ids  \
9                                ipman3  NaN   NaN           NaN       NaN
13                      thegooddinosaur  NaN   NaN           NaN       NaN
15                          therevenant  NaN   NaN           NaN       NaN
16    starwarsepisodeviitheforceawakens  NaN   NaN           NaN       NaN
22                        thedanishgirl  NaN   NaN           NaN       NaN
...                                 ...  ...   ...           ...       ...
1115                      empireoflight  NaN   NaN           NaN       NaN
1116                       violentnight  NaN   NaN           NaN       NaN
1117                    moonagedaydream  NaN   NaN           NaN       NaN
1118                       strangeworld  NaN   NaN           NaN       NaN
1119                            shesaid  NaN   NaN           NaN       NaN

       id original_language original_title overview popularity poster_path  \
9     NaN               NaN            NaN      NaN        NaN         NaN
13    NaN               NaN            NaN      NaN        NaN         NaN
15    NaN               NaN            NaN      NaN        NaN         NaN
16    NaN               NaN            NaN      NaN        NaN         NaN
22    NaN               NaN            NaN      NaN        NaN         NaN
...   ...               ...            ...      ...        ...         ...
1115  NaN               NaN            NaN      NaN        NaN         NaN
1116  NaN               NaN            NaN      NaN        NaN         NaN
1117  NaN               NaN            NaN      NaN        NaN         NaN
1118  NaN               NaN            NaN      NaN        NaN         NaN
1119  NaN               NaN            NaN      NaN        NaN         NaN

     release_date title video vote_average vote_count
9             NaN   NaN   NaN          NaN        NaN
13            NaN   NaN   NaN          NaN        NaN
15            NaN   NaN   NaN          NaN        NaN
16            NaN   NaN   NaN          NaN        NaN
22            NaN   NaN   NaN          NaN        NaN
...           ...   ...   ...          ...        ...
1115          NaN   NaN   NaN          NaN        NaN
1116          NaN   NaN   NaN          NaN        NaN
1117          NaN   NaN   NaN          NaN        NaN
1118          NaN   NaN   NaN          NaN        NaN
1119          NaN   NaN   NaN          NaN        NaN

[911 rows x 25 columns]

In [ ]:
# Manually clean the below title? 2022 Re-release??
nan_vote_average_rows['ori_ReleaseGroup'].unique()

array(['ipman3', 'thegooddinosaur', 'therevenant',
       'starwarsepisodeviitheforceawakens', 'thedanishgirl',
       'alvinandthechipmunkstheroadchip', 'thebigshort',
       'masterpiecemysterysherlocktheabominablebride', '13hours',
       'tenyears', 'thelittleprince', 'thepeanutsmovie',
       'mybelovedbodyguard', 'stevejobs', 'daddyshome', 'thehatefuleight',
       'secretintheireyes', 'the33', 'sweetbean', 'concussion',
       'thebigbee', 'creed', '100yenlove', 'initiationlove', 'sonofsaul',
       'thetagalong', 'thelastwomenstanding', 'mojinthelostlegend',
       'borutonarutothemovie', 'brooklyn', 'trumbo', 'pglinoijiyin',
       'journeytotheshore', 'allswellendswell2012', 'missyoualready',
       'ourbrandiscrisis', 'galaxykaid', 'bakuman', 'theempireofcorpses',
       'anomalisa', 'dheepan', 'burnt', 'portofcall', 'killthemessenger',
       'goodbyemrloser', 'golalago2', 'thelastmission', '45years',
       'salutdamour', 'thecrowsegg', 'mrsix', 'theboyandthebeast',
       'thanatosdrunk', 'equals', 'pointbreak', 'misonouniverse',
       'youcallitpassion', 'manglehorn', 'louderthanbombs',
       'keeperofdarkness', 'harmony', 'freeheld', 'sheremembersheforgets',
       'zinniaflower', 'gatao', 'thehungergamesmockingjaypart2',
       'ourtimes', 'ajourneythroughtimewithantony', 'spectre',
       'youreuglytoo', 'frenchdolls', 'aokihaganenoarpeggioarsnovadc',
       'legend', 'lovethecoopers', 'mountainsmaydepart',
       'spidermanhomecoming', 'thorragnarok', 'thefateofthefurious',
       'despicableme3', 'starwarsepisodeviiithelastjedi', 'thebossbaby',
       'themummy', 'guardiansofthegalaxyvol2', 'kingsmanthegoldencircle',
       'piratesofthecaribbeandeadmentellnotales',
       'transformersthelastknight', 'warfortheplanetoftheapes',
       'aliencovenant', 'cars3', 'themountainbetweenus', 'wonder',
       'ghostintheshell', 'annabellecreation',
       'valerianandthecityofathousandplanets', 'murderontheorientexpress',
       'thegreatestshowman', 'bladerunner2049', 'coco', 'theemojimovie',
       'baywatch', 'jumanjiwelcometothejungle', 'americanmade', 'jigsaw',
       'smurfsthelostvillage', 'gifted', 'powerrangers', 'roughnight',
       'thedarktower', 'happydeathday', 'babydriver', 'onlythebrave',
       'americanassassin', 'theshack', 'flatliners', 'victoriaabdul',
       'thesnowman', 'daddyshome2', 'mylittleponythemovie', 'loganlucky',
       'thebeguiled', 'theglasscastle', 'professormarstonthewonderwomen',
       'tulipfever', 'theonlylivingboyinnewyork', 'avengersinfinitywar',
       'jurassicworldfallenkingdom', 'incredibles2',
       'missionimpossiblefallout', 'blackpanther', 'antmanandthewasp',
       'deadpool2', 'alongwiththegodsthelast49days', 'venom',
       'projectgutenberg', 'ralphbreakstheinternet',
       'johnnyenglishstrikesagain', 'mazerunnerthedeathcure',
       'skyscraper', 'fantasticbeaststhecrimesofgrindelwald', 'aquaman',
       'pacificrimuprising', 'rampage', 'themeg', 'oceanseight',
       'bumblebee', 'astarisborn', 'redsparrow', 'crazyrichasians',
       'thepredator', 'hoteltransylvania3summervacation',
       'secretsuperstar', 'peterrabbit', 'hunterkiller', 'mortalengines',
       'christopherrobin', 'spidermanintothespiderverse', 'morethanblue',
       'ferdinand', 'fiftyshadesfreed', 'thepost', 'menonthedragon',
       'thenutcrackerandthefourrealms', 'soloastarwarsstory',
       'brotheroftheyear', 'robinhood', 'bohemianrhapsody',
       'doraemonthemovienobitastreasureisland', 'searching',
       'theshapeofwater', 'onecutofthedead', 'uncledrew',
       'mammamiaherewegoagain', 'overlord', 'shoplifters', 'firstman',
       'blockers', 'goldenjob', 'darkesthour', 'bigbrother',
       'tomorrowisanotherday', '12strong', 'tracey', 'lstorm',
       'thetrough', 'halloween', 'destinythetaleofkamakura',
       'insidiousthelastkey', 'asimplefavor', 'thespywhodumpedme',
       'truthordare', 'masterztheipmanlegacy', 'theequalizer2',
       'hotelartemis', 'thedarkestminds', 'whensunmeetsmoon',
       'thefirstpurge', 'smallfoot', 'thehousewithaclockinitswalls',
       'gonjiamhauntedasylum', 'lovesimon', 'escapeplan2hades',
       'theleakers', 'gamenight', 'thegrinch', 'hichki', 'rampant',
       'deathwish', 'pokmonthemoviethepowerofus', '7daysinentebbe',
       'goosebumps2hauntedhalloween', 'pitchperfect3', 'anon',
       'hotelsoulgood', 'downsizing', 'distinction',
       'thegirlinthespidersweb', 'mile22', 'thehurricaneheist',
       'denofthieves', 'ladybird', 'thecrimesthatbind',
       'whenigethomemywifealwayspretendstobedead', 'bewithyou',
       'isleofdogs', 'pokmonthemovieichooseyou', 'thequake', 'kin',
       'hellfest', 'earlyman', 'sherlockgnomes', 'phantomthread',
       'myheroacademiatwoheroes', 'gintama2rulesaremadetobebroken',
       '50firstkisses', 'theextraordinaryjourneyofthefakir',
       'allthemoneyintheworld', 'houseoftherisingsons',
       'thetagalongdevilfish', 'operationredsea', 'unsane',
       'icanonlyimagine', 'muse', 'incidentinaghostland',
       'thekillingofasacreddeer', 'no1chungyingstreet', 'lifeitself',
       'tonightatthemovies', 'showdogs', 'beautifulboy', 'thechildrenact',
       'champion', 'wonderwheel', 'beirut', 'sunny',
       'whatawonderfulfamily3mywifemylife', 'the8yearengagement',
       'thestrangerspreyatnight', 'secretsinthehotspring',
       'sicariodayofthesoldado', 'midnightsun', 'billionaireboysclub',
       'avengersendgame', 'toystory4', 'spidermanfarfromhome',
       'captainmarvel', 'aladdin', 'frozenii', 'alitabattleangel',
       'thelionking', 'fastfuriouspresentshobbsshaw',
       'maleficentmistressofevil', 'jumanjithenextlevel',
       'starwarsepisodeixtheriseofskywalker', 'meninblackinternational',
       'johnwickchapter3parabellum', 'thewhitestorm2druglords',
       'xmendarkphoenix', 'ipman4thefinale', 'shazam',
       'weatheringwithyou', 'howtotrainyourdragonthehiddenworld',
       'terminatordarkfate', 'stillhuman', 'pstorm',
       'thesecretlifeofpets2', 'itchaptertwo', 'dumbo', 'angelhasfallen',
       'pokmondetectivepikachu', 'greenbook', 'parasite',
       'annabellecomeshome', 'extremejob', 'fordvferrari',
       'onceuponatimeinhollywood', 'escaperoom', 'marypoppinsreturns',
       'geminiman', 'hotelmumbai', 'theangrybirdsmovie2',
       'linewalker2invisiblespy', 'fagara', 'thehustle', 'midway',
       'masqueradehotel', 'thecommand', 'theaddamsfamily',
       'awitnessoutoftheblue',
       'doraemonnobitaschronicleofthemoonexploration', 'crawl', 'littleq',
       'lastchristmas', 'thequeenscorgi', 'readyornot', 'happydeathday2u',
       'guiltbydesign', 'yesterday', 'coldpursuit', 'zombielanddoubletap',
       'thecurseoflallorona', 'thedivinefury', 'doctorsleep',
       'chasingthedragoniiwildwildbunch', 'ashfall',
       'dragonballsuperbroly', 'goodboys', 'godzillakingofthemonsters',
       'theupside', 'petsematary', 'charliesangels',
       'sherlockholmesandthegreatescape', 'instantfamily', 'wonderpark',
       'integrity', 'theladyimproper', 'scarystoriestotellinthedark',
       '47metersdownuncaged', 'ossansloveloveordead', 'abominable',
       'crayonshinchanhoneymoonhurricanethelosthiroshi', 'thecurrentwar',
       'fallinloveatfirstkiss', 'childsplay', 'friendzone', 'cats',
       'deceptionofthenovelist', 'downtonabbey', 'vice',
       'thewanderingearth', 'theconfidencemanjp', 'theinvincibledragon',
       'longshot', 'mypeoplemycountry', 'adogsjourney', 'takepoint',
       'onepiecestampede', 'fivefeetapart', '21bridges', 'uglydolls',
       'onthebasisofsex', 'rocketman', 'adogswayhome',
       'ashaunthesheepmoviefarmageddon', 'thenewkingofcomedy',
       'maydaylife', 'fatestaynightheavensfeeliilostbutterfly', 'padman',
       'hustlers', 'kamenriderheiseigenerationsforever', 'capernaum',
       'kimjiyoungborn1982', 'bravefatheronlineourstoryoffinalfantasyxiv',
       'ahomewithaview', 'themule', 'arainydayinnewyork', 'thewolfscall',
       'theprodigy', 'gaffairs', 'brightburn', 'secondact',
       'painandglory', 'helloworld', 'captivestate', 'threehusbands',
       'paradisehills', 'officialsecrets', 'wearelegends', '00mhz',
       'blackchristmas', 'fortunaseye', 'alonggoodbye', 'theaftermath',
       'istillseeyou', 'maryqueenofscots', 'redshoesandthesevendwarfs',
       'greta', 'voxlux', 'chibimarukochanmovieonosugiyama', 'sangkrasue',
       'suspiria', 'aprivatewar', 'thebravest', 'sinkorswim', 'tenet',
       'demonslayerkimetsunoyaibathemoviemugentrain', '1917',
       'beyondthedream', 'digimonadventurelastevolutionkizuna',
       'dolittle', 'peninsula', 'spiesindisguise', 'greenland',
       'legallydeclareddead', 'imlivinit', 'thewitches', 'badboysforlife',
       'littlewomen', 'myprinceedward', 'thecallofthewild', 'beautywater',
       'doraemonthemovienobitasnewdinosaur', 'theinvisibleman',
       'theeighthundred', 'thenewmutants', 'bloodshot', 'jojorabbit',
       'myheroacademiaheroesrising', 'fantasyisland', 'theplatform',
       'richardjewell', 'doyoulovemeasiloveyou',
       'violetevergardenthemovie',
       'fatestaynightheavensfeeliiispringsong', 'thehighnote',
       'twilightskiss', 'honestthief', 'mulan', 'ava', 'mrjones',
       'thewarwithgrandpa', 'theconfidencemanjpprincess', 'fukushima50',
       'thesilentforest', 'freaky', 'comeplay', 'mrzoothemissingvip',
       'notquitedeadyet', 'vanguard', 'lastletter', 'lowseason',
       'loveyouforever', 'unhinged', 'trollsworldtour',
       'abeautifuldayintheneighborhood', 'upgrade', 'antebellum',
       'memoriestochokeondrinkstowashthemdown', 'deartenant', 'malasaa32',
       'nightoftheundead', 'thebridgecurse', 'thelastfullmeasure',
       'myspy', 'fatalvisit', 'theturning', 'thedarkknight', 'darkwaters',
       'siberia', 'brahmstheboyii', 'wearechampions', 'therental',
       'tootsiesthefake', 'achoo', 'pawn', 'thegentlemen', 'batmanbegins',
       'thedarkknightrises', 'thesacrifice', 'dreambuilders',
       'saekanohowtoraiseaboringgirlfriendfine', 'thecraftlegacy',
       'thetranslators', 'honestcandidate', 'steelrain2', 'happyoldyear',
       'iweirdo', 'itfeelssogood', 'findyourvoice', 'jexi', 'thecave',
       'vernost', 'okaymadam', 'thebattleofjangsari',
       'thegangstheoscarsandthewalkingdead', 'happiestseason',
       'spidermannowayhome', 'shangchiandthelegendofthetenrings',
       'notimetodie', 'eternals', 'blackwidow', 'f9thefastsaga',
       'venomlettherebecarnage', 'zerotohero', 'ragingfire', 'freeguy',
       'luca', 'dunepartone', 'godzillavskong', 'cruella',
       'thebattleatlakechangjin', 'shockwave2', 'junglecruise',
       'thebossbabyfamilybusiness', 'standbymedoraemon2',
       'aquietplacepartii', 'thesuicidesquad', 'onesecondchampion',
       'thematrixresurrections', 'wonderwoman1984', 'thewaywekeepdancing',
       'theconjuringthedevilmademedoit', 'encanto',
       'escaperoomtournamentofchampions', 'houseofgucci', 'ronsgonewrong',
       'dynastywarriors', 'rayaandthelastdragon', 'sinkhole',
       'handrolledcigarette', 'drifting', 'nomadland', 'readyorknot',
       'maninlove', 'ghostbustersafterlife', 'seobok',
       'peterrabbit2therunaway', 'mortalkombat', 'showbizspy',
       '77heartwarmings', 'time', 'onceuponatimeinhongkong',
       'masqueradenight', 'swordartonlineprogressiveariaofastarlessnight',
       'cliffwalkers', 'thecourier', 'theforeverpurge', 'themauritanian',
       'monsterhunter', 'escapefrommogadishu', 'tomjerry',
       'thecroodsanewage', '1921', 'hitmanswifesbodyguard', 'theiceroad',
       'myheroacademiaworldheroesmission', 'themedium',
       'theaddamsfamily2',
       'crayonshinchanshroudedinmysterytheflowersoftenkazuacademy',
       'spacejamanewlegacy', 'theattorney', 'reminiscence', 'himom',
       'wemadeabeautifulbouquet', 'malignant',
       'buttdetectivethemoviethecaseofthecourageouscurrymysteryoftheladybugruins',
       'twobytwooverboard', 'lastnightinsoho', 'spiral', 'dontbreathe2',
       'thelastduel', 'thefrenchdispatch', 'cliffordthebigreddog',
       'detectivechinatown3', 'chaoswalking', 'parttimegirlfriend',
       'coffinhomes', 'halloweenkills', 'detectiveconanthescarletbullet',
       'quovadisaida', 'thevault', 'earwigandthewitch', 'spencer', 'old',
       'myindianboyfriend', '2getherthemovie', 'the100candlesgame',
       'antlers', 'mylittleponyanewgeneration', 'drivemycar',
       'spirituntamed', 'candyman', 'theconheartist', 'alluneedislove',
       'kingrichard', 'mycountrymyparents', 'minari', 'inthemoodforlove',
       'greatwhite', 'breakoutbrothers', 'persianlessons',
       'anpanmanfluffyflurrythelandoftheclouds', 'thosewhowishmedead',
       'songbird', 'elisasday', 'foodluck', 'stigmatizedproperties',
       'madalena', 'acrocodilewholivedfor100days', 'worth',
       'happytogether', 'oldboy', 'cautionhazardouswifethemovie',
       'perfectblue', 'kamenridersaberkikaisentaizenkaigersuperherosenki',
       'mymissingvalentine', 'assassins', 'awritersodyssey',
       'topgunmaverick', 'avatarthewayofwater', 'warriorsoffuture',
       'tableforsix', 'doctorstrangeinthemultiverseofmadness',
       'jurassicworlddominion', 'blackpantherwakandaforever',
       'thorloveandthunder', 'minionstheriseofgru', 'mamasaffair',
       'thesparringpartner', 'chillilaughstory', 'blackadam', 'thebatman',
       'detectivevssleuths', 'lightyear', 'hongkongfamily',
       'fantasticbeaststhesecretsofdumbledore',
       'doraemonthemovienobitaslittlestarwars2021', 'bullettrain',
       'thekingsman', 'avatar', 'farfaraway',
       'everythingeverywhereallatonce', 'onepiecefilmred',
       'jujutsukaisen0', 'pussinbootsthelastwish', 'emergencydeclaration',
       'uncharted', 'tickettoparadise', 'silentparade',
       'swordartonlinethemovieprogressivescherzoofdeepnight', 'sing2',
       'elvis', 'evangelion30101thriceuponatime', 'dcleagueofsuperpets',
       'thebadguys', 'shinultraman', 'lifemustgoon', 'watergatebridge',
       'crayonshinchanmononokeninjachinpuden', 'thenarrowroad', 'nope',
       'alienoid', 'violentnight',
       'eigasumikkogurashiaoitsukiyonomahnoko', 'preyforthedevil',
       'strangeworld', 'theblackphone', 'decisiontoleave', 'moonfall',
       'lovesuddenly', 'operationmincemeat', 'amsterdam',
       'laalsinghchaddha', 'dragonballsupersuperhero', 'sunshineofmylife',
       'confidentialassignment2international', 'mybestfriendsbreakfast',
       'theunbearableweightofmassivetalent', 'halloweenends',
       'orphanfirstkill', 'letitghost', 'threethousandyearsoflonging',
       'theroundup', 'detectiveconanthebrideofhalloween', 'seehowtheyrun',
       'morbius', 'theconfidencemanjpepisodeofthehero',
       'buttdetectivethemovieshiriartythedreamjumbosweetpotatocakefestival',
       'cherrymagicthirtyyearsofvirginitycanmakeyouawizardthemovie',
       'downtonabbeyanewera', 'evangelion333youcannotredo',
       'lylelylecrocodile', 'scream', 'thefabelmans', 'triangleofsadness',
       'talesfromtheoccult', 'lookup', 'shesaid', 'parallelmothers',
       'dontworrydarling', 'deathonthenile', 'thelast10years',
       'theburningsea', 'specialdelivery', 'virus32', 'decibel',
       'buttdetectivethemoviethesecretofsouffleisland', 'bonesandall',
       'theworstpersonintheworld', 'moonagedaydream',
       'thattimeigotreincarnatedasaslimethemoviescarletbond',
       'breakoutbrothers2', 'fastfeellove', 'bros',
       'evenifthislovedisappearsfromtheworldtonight', 'cube', 'marryme',
       'gstorm', 'comebackhome', 'somelikeitrare', 'the355', 'belfast',
       'thenorthman', 'aguiltyconscience', 'oppenheimer',
       'thesupermariobrosmovie', 'guardiansofthegalaxyvol3', 'barbie',
       'johnwickchapter4', 'thefirstslamdunk',
       'missionimpossibledeadreckoningpartone', 'fastx', 'theflash',
       'antmanandthewaspquantumania', 'suzume',
       'spidermanacrossthespiderverse', 'timestillturnsthepages',
       'overmydeadbody', 'inbroaddaylight', 'transformersriseofthebeasts',
       'indianajonesandthedialofdestiny', 'marrymydeadbody',
       'everythingundercontrol', 'themarvels', 'wonka',
       'doraemonthemovienobitasskyutopia', 'onemorechance', 'thecreator',
       'madfate', 'somedayoroneday', 'thelittlemermaid',
       'thewanderingearthii', 'thewhitestorm3heavenorhell',
       'wherethewindblows', 'ahauntinginvenice', 'theboyandtheheron',
       'itremains', 'myheavenlycity', 'thegoldfinger', 'meg2thetrench',
       'aquamanandthelostkingdom', 'nohardfeelings', 'granturismo',
       'thenunii', 'tomynineteenyearoldself',
       'dungeonsdragonshonoramongthieves', 'nomorebets',
       'shazamfuryofthegods', 'thehungergamestheballadofsongbirdssnakes',
       'deathnoticeaserialkillerleavingnotes', 'napoleon',
       'shinjigencrayonshinchanthemovie',
       'demonslayerkimetsunoyaibatotheswordsmithvillage', 'cyberheist',
       'm3gan', 'sawx', 'sayidotome', 'readyorrot', 'fivenightsatfreddys',
       'theequalizer3', 'plane', 'backhome', 'insidiousthereddoor',
       'titanic', 'burstingpoint', 'thewhale',
       'creationofthegodsikingdomofstorms', 'hauntedmansion',
       'bluebeetle', 'theexorcistbeliever', 'killersoftheflowermoon',
       'lostinthestars', 'sakra', 'thepopesexorcist',
       'pawsoffurythelegendofhank', 'detectiveconanblackironsubmarine',
       'theroundupnowayout', 'thebrotherhoodofrebel',
       'dontcallitmysterythemovie', 'guyritchiesthecovenant',
       'theexpendables4', 'digimonadventure02thebeginning',
       'shinkamenrider', 'amancalledotto', 'missshampoo', '65', 'air',
       'hiddenblade', 'alightnevergoesout', 'thepigthesnakeandthepigeon',
       'thebridgecurseritual', 'evildeadrise', 'hypnotic',
       'soundoffreedom', 'dumbmoney', 'concreteutopia', 'ransomed',
       'abangadik', 'rubygillmanteenagekraken',
       'operationfortunerusedeguerre', 'thepointmen',
       'trollsbandtogether', 'bandfour', 'asteroidcity',
       'yuminvestigation', 'renfield', 'tr',
       'thetunneltosummertheexitofgoodbyes', 'twelvedays',
       'thesunnysideofthestreet', 'lonelycastleinthemirror',
       'fullriverred', 'theboogeyman', 'acityofsadness', 'kandahar',
       'talktome', 'borntofly', 'dayoff', 'thanksgiving', 'bluegiant',
       'thelastvoyageofthedemeter', 'cobweb', 'aboutmyfather',
       'thevolunteerstothewar', 'themoon', 'strays', 'tocatchakiller',
       'anpanmandororinandthetransformationcarnival', 'knockatthecabin',
       'talesfromtheoccultbodyandsoul', 'underthelight', 'aftersun',
       'flashover', 'cocainebear', 'empireoflight'], dtype=object)